{% extends 'base.html' %}
{% block content %}

<h4>원룸 리뷰</h4>

        <a href="{% url 'reviewapp:create' %}">
            <div>글쓰기</div>
        </a>

        {% for post in post_list %}
        <div>
            원룸 : <a href="{% url 'reviewapp:detail' pk=post.pk%}">{{post.room}}</a>
            <div>
                {% include 'user_data.html' %}
            </div>
            <div>요약 : {{ post.summary | safe }}</div>

        </div><br>
        {% endfor %}
    </div>
</div>
<br><br>
{% include 'page.html' %}
{% endblock %}