{% extends 'base.html' %}
{% block content %}

<h4>원룸 리뷰</h4>

        <a href="{% url 'reviewapp:create' %}">
            <div>글쓰기</div>
        </a>

        {% for post in post_list %}
        <div>
            원룸 : <a href="{% url 'reviewapp:detail' pk=post.pk%}">{{post.room}}</a><br>
            별점 :
            {% if post.rate == '5점' %}
            ★★★★★
            {% elif post.rate == '4점' %}
            ★★★★☆
            {% elif post.rate == 3 %}
            ★★★☆☆
            {% elif post.rate == 2 %}
            ★★☆☆☆
            {% else %}
            ★☆☆☆☆
            {% endif %}
            <div>
                {% include 'user_data.html' %}
            </div>
            <div>요약 : {{ post.summary | safe }}</div>

        </div><br>
        {% endfor %}
    </div>
</div>
<br><br>
{% include 'page.html' %}
{% endblock %}